  <div class="col-xs-2">
    <h3>Categories</h3>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {%if category != "" %}
          {{category.name}}
        {% else %}
          All Categories
        {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for category in categories %}
        <li><a href="{{url_for('showCategory', category_name=category.name)}}">{{category.name}}</a></li>
        {% endfor %}
      </ul>
    </div>    
  </div>
