<div class="row">
    {% for item in items %}
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            {%if item.picture == "" %}
                <img src="{{ url_for('static', filename = 'nopix.gif') }}" ALT="Missing: {{ item.picture }}" >
            {% else %}
                <img src="{{ url_for('static', filename = item.picture) }}" ALT="{{ item.picture }}" >
            {% endif %}</p>
            <div class="caption">
                <a href = "{{ url_for('showItem', category_name=item.category.name, item_name=item.name) }}">
                    {{ item.name }}
                </a>
                <p>${{ item.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>  
