<!DOCTYPE html>
<html lang="en">
<head>
<!-- Bootstrap code snippets taken from http://getbootstrap.com/getting-started/ examples -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Customization of Bootstrap styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bscustom.css') }}">
<!-- Catalog App related -->
<title>Catalog Web App</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='catstyle.css') }}">
<link href="{{ url_for('catalogATOM') }}"
      rel="alternate"
      title="Recent Changes" 
      type="application/atom+xml">
</head>
<body role="document">
{% include "navbar.html" %}

<div class="container">	
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info" role="alert">
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endwith %}

    <!-- Bootstrap code snippets taken from http://getbootstrap.com/getting-started/ examples -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>