<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#cat-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Catalog App</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="cat-navbar" >
            <ul class="nav navbar-nav navbar-right">
                {%if 'username' not in session %}
                    <li>
                        <a href="{{url_for('showLogin')}}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                        Login </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{url_for('disconnect')}}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                        Logout </a>
                    </li>
                    <li>
                        <a href = "{{url_for('newItem')}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                        Post</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
