{% extends "main.html" %}
{% block content %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h3>New Item</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="#" method = "post" enctype = "multipart/form-data">
            <div class="form-group">

                <label for="name">Name:</label>
                <input type ="text" maxlength="80" class="form-control" name="name" placeholder="Name of item (must be unique)">

                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description (max 250 chars)"></textarea>

                <label for="category">Category:</label>
                <select type ="text" maxlength="80" class="form-control" name="category" placeholder="Category">
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
                </select>

                <label for="price">Price:</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type ="text" maxlength="10" class="form-control" name="price" placeholder="0.00">
                </div>
                <br>    
                <label for="picture">Upload Picture:</label>
                <input name = "picture" type= "file">
                <br><br>
                <button type="submit" class="btn btn-default" id="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Save
                </button>
                <a class="btn btn-default" href = "{{ url_for('showCatalog') }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}